<div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="newTaskModalLabel" aria-hidden="true" data-controller="task-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(model: Item.new, url: items_path, local: true) do |f| %>
        <div class="modal-body">
          <div class="mb-3">
            <%= f.label :description, class: "form-label" %>
            <%= f.text_field :description, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :list_id, "List", class: "form-label" %>
            <%= f.collection_select :list_id, @lists, :id, :name, 
                { prompt: "Select a list or create new" }, 
                { class: "form-select", data: { task_modal_target: "listSelect" } } %>
          </div>
          <div class="mb-3 d-none" data-task-modal-target="newListInput">
            <%= f.fields_for :list, List.new do |list_form| %>
              <div class="input-group">
                <%= list_form.text_field :name, class: "form-control", placeholder: "New list name", required: true %>
                <%= list_form.hidden_field :order, value: @lists.count %>
              </div>
            <% end %>
          </div>
          <div class="mb-3">
            <%= f.label :priority, class: "form-label" %>
            <%= f.select :priority, [["Now", "now"], ["Soon", "soon"], ["Later", "later"]], 
                { selected: "now" }, { class: "form-select" } %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Create Task", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div> 